footer {
    width: 100%;
    height: 35px;
    background-color: rgb(51, 3, 128);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#pf1 {
    margin: 0; /* Rimuove margini inutili */
    text-align: center;
}