#m1{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10px;
}
h1{
    margin: 0;
    font-size: 25px;
}
#p1{
    margin-top: -10px;
    font-size: 10px;
}
#t1{
    font-size: 11px;
}
#t2{
    color: lightseagreen;
}
#t3{
    font-size: 9px;
    font-size: px;
}
#div1{
    margin-top: 5px;
}
#img1{
    width: 360px;
}
#img2{
    width: 310px;
}
#p1{
margin-top: 1px;
    font-size: 10px;
}
#p2{
    margin-top: -10px;
    font-size: 10px;
}
#span1{
    background-color: yellow;
}
#ul1{
    margin-left: -22px;
}
#tr1{
    background-color: rgb(75, 167, 197);
    color: white;
}
.t1{
    width: 380px;
    height: 40px;
}
.t2{
    width: 760px;
}
